[data-testid="stAppViewContainer"] {
    background-image: url("https://media.istockphoto.com/id/1396076705/photo/black-background-pixel-pattern-flowing-shape-luxury-shiny-ombe-dark-gray-modern-texture-copy.webp?b=1&s=170667a&w=0&k=20&c=oCPeOtP27dvhLZ5OzUIK1PyDkaFvTxSyqp46fjJ7_1o=");
    background-size: cover;
}

.st-emotion-cache-ue6h4q {
    color: rgb(255 255 255);
}

.st-emotion-cache-5rimss {
    color: rgb(255 255 255);
}